In [5]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df =pd.read_csv(r'/Users/apple/Documents/LuxHq/train_data_cross-sell.csv', encoding='latin1')

unique_counts = df.nunique()

columns_to_encode = unique_counts[unique_counts <= 2].index.tolist()

le = LabelEncoder()

for col in columns_to_encode:
    df[col] = le.fit_transform(df[col])

df.head()

,ÿid,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response
0,549771831,1,"Monday, March 7, 1977",1,EMBAKASI,0,2020,1,38294,Jomo Kenyatta,"Thursday, December 21, 2023",1
1,373583351,1,"Sunday, December 29, 2002",1,WESTLANDS,1,2020,0,28619,Obiero Ochieng,"Wednesday, June 28, 2023",0
2,933163655,0,"Tuesday, August 23, 1994",1,DAGORETTI,1,2011,0,27496,Obiero Ochieng,"Saturday, December 9, 2023",0
3,698942186,0,"Thursday, November 18, 1999",1,JUJA,0,2020,1,2630,Gitonga Mwangi,"Tuesday, July 25, 2023",0
4,515109822,1,"Thursday, February 22, 2001",1,WESTLANDS,0,2015,1,23367,Obiero Ochieng,"Saturday, May 13, 2023",0